<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>User</title>
	</head>
	<body>
		<form class="form">
			<input class="input" type="text" name="name" />
			<input class="input" type="text" name="description" />
			<input class="input" type="text" name="role" />
			<input class="input" type="text" name="password" />
			<button class="button">submit</button>
		</form>
		<table>
			<thead class="head">
				<tr>
					<th>id</th>
					<th>name</th>
					<th>description</th>
					<th>role</th>
					<th>password</th>
				</tr>
			</thead>
			<tbody class="list"></tbody>
		</table>
	</body>
	<script src="/static/script.js"></script>
</html>
